body{
    background-image:url(.jpg) ;
text-align: center;
    background-repeat: no-repeat;

background-size: cover;
}
p{
    color: cornsilk;
text-align: center;
font-size:30px ;
font-family:"Lucida Handwriting" ;
}




























body{
    background-image:url() ;
text-align: center;
    background-repeat: no-repeat;

background-size: cover;
}
p{
    color: cornsilk;
text-align: center;
font-size:30px ;
font-family:"Lucida Handwriting" ;
}



































